#grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: #333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;

    .item {
        border: 1px solid #e3e3e3;
        flex-grow: 1;
        padding: 20px;
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        transition: box-shadow .3s linear;
    }

    .item:hover {
        box-shadow: 0 0 15px 0 rgba(50,50,50,.15);
        z-index: 4;
    }

    .item-price {
        font-weight: 600;
        font-size: 24px;
        align-self: flex-start;
    }
    .item-amount {
        margin-top: 3px;
        color: #009f00;
        align-self: flex-start;
    }   

    .item-soldout {
        margin-top: 3px;
        color: red;
        align-self: flex-start;
    }

    .soldout {
        position: absolute;
        background-color: #dbdbdb8c;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .buy-btn {
        align-self: flex-end;
        margin-top: -40px;
        width: 100px;
        height: 40px;
        font-size: 18px;
        font-weight: 600;
        background-color: #00a046;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
    }

    .buy-btn:hover {
        opacity: .9;
    }
}