
#wrapper {
  margin: 0 30px 0 30px;
}

#menu {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0;
}

#menu li {
  height: 40px;
  min-width: 250px;
  text-align: center;
  line-height: 40px;
}

#menu li a {
  background-color: #6c9ea1;
  border-radius: 7px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  width: 100%;
  display: inline-block;
}

#menu li a:hover {
    background-color: #81ccd0;
}

#menu li a:active {
    background-color: #29594e;
}

.text-block {
    background-color: #e5e5e5;
    padding: 20px;
    transition: .7s;
    position: absolute;
    width: 94%;
}
